h1{
    color: blue;
    text-align: center;
    font-size: 54px;
}

h2{
    color: pink;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

.box{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    
}

h5{
    color: rgb(78, 12, 209);
    text-align: center;
    padding: 25px;

}

.btn-container{
    text-align: center;
    
}

#btn-reset{
    Position: fixed;
    right: 54.6%;
    padding: 10px;
    
}

#btn-show{
    position: fixed;
    left: 55.9%;
    padding: 10px;
}

#box-1{
    color: red;
}

#box-2{
    color: blue;

}

#box-3{
    color: green;
}

#change-all{
    position: flex;
}

#reset-color{
    position: flex;
}